/*
    ------------------------
    ------- Spacing --------
    ------------------------
*/

:root{
    --space-xxxs: .1111rem; // 2px
    --space-xxs: .2222rem;  // 4px
    --space-xs: .4444rem;   // 8px
    --space-sm: .8889rem;   // 16px
    --space-base: 1rem;     // 18px
    --space-md: 1.3333rem;  // 24px
    --space-lg: 1.7777rem;  // 32px
    --space-xl: 2.2222rem;  // 40px
    --space-2xl: 2.6667rem; // 48px
    --space-3xl: 3.1111rem; // 56px
    --space-4xl: 3.5556rem; // 64px
    --space-5xl: 4.4444rem; // 80px
    --space-7xl: 6.9444rem; // 125px
    --space-8xl: 7.7778rem; // 140px
    --space-9xl: 9.1111rem; // 164px
    --space-11xl: 10.94rem; // 197px
}