/*
    ------------------------
    ------- Mixins ---------
    ------------------------
*/

// Breakpoints

$breakpoints-up : (
    "medium" : "640px",
    "large" : "1024px",
    "xlarge" : "1400px",
);

$breakpoints-down : (
    "small" : "639px",
    "medium" : "1023px",
    "large" : "1399px",
);

@mixin breakpoint-up($size) {
    @media screen and (min-width: map-get($map: $breakpoints-up, $key: $size)){
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media screen and (max-width: map-get($map: $breakpoints-down, $key: $size)){
        @content;
    }
}

// Flexbox

$justify-content : (
    "fs" : flex-start,
    "fe" : flex-end,
    "c" : center,
    "sb" : space-between,
    "sa" : space-around,
    "se" : space-evenly,
);

$align-items : (
    "fs" : flex-start,
    "fe" : flex-end,
    "c" : center,
    "st" : stretch,
    "b" : baseline,
);

@mixin flex($jc, $ai, $direction) {
    display: flex;
    justify-content: map-get($map: $justify-content, $key: $jc);
    align-items: map-get($map: $align-items, $key: $ai);
    flex-direction: $direction;
}